{% extends 'base.html' %} {% block title %}Event Details | {{ event['name'] }}
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      {{ event['name'] }}
      <h2>EVENT NAME</h2>

      {% if 'description' in event %} {{ event['description']}} {% else %}No
      description available {% endif %}
      <p>THIS PAGE IS FOR FURTHER STUDY.</p>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-4">
      {# TODO: Replace EVENT IMAGE URL with actual URL to one of the event
      images #}
      <img src="EVENT IMAGE URL" />

      <p>
        {# TODO: Replace EVENT TICKETMASTER URL with URL to event's Ticketmaster
        page #}
        <a href="EVENT TICKETMASTER URL" target="_blank">
          Go to Ticketmaster page
        </a>
      </p>
    </div>

    <div class="col">
      <h3>Start date</h3>
      {{ event['dates']['start']['localDate']}}
      <p>EVENT START DATE</p>

      <h3>Venues</h3>
      <ul>
        {% for venue in venues %}
        <li>{{ venue['name'] }}</li>
        {% endfor %}
      </ul>

      <h3>Classifications</h3>
      <ul>
        {% for classification in classifications%}
        <li>{{classification['genre']['name']}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
